#!/bin/bash

# Set some variables to be used later on
username=root
password={{ mysql_root_password }}
host=127.0.0.1
path={{ backups_mount_point }}
date=$(date +"%Y%m%d")
shared_files={{ project_root }}/shared

# Create the directory to mount to if it doesnt exist
mkdir -p {{ backups_mount_point }}

# Mount the backup drive
mount {{ backups_mount_destination }} {{ backups_mount_point }}

# Test the mount point and fail with E-mail if drive inaccessible
if [ $(mount | grep -c {{ backups_mount_point }}) != 1 ]
  then
    echo "$HOSTNAME is unable to backup due to mountpoint not being connected" | mail -s "Backup Drive inaccessible on $HOSTNAME" bhidfhusd01234nmd@williamscommerce.atlassian.net && exit 0
  else
    echo "Drive is mounted, continuing with backup"
fi

# Create the date directory for this backup
mkdir -p $path/$date

# Loop over all databases, back them up and gzip them
for database_name in $(echo 'SHOW DATABASES;' | mysql --host=$host --user=$username --password=$password | grep -v '^Database$' | grep -v 'information_schema' | grep -v 'performance_schema' | grep -v 'mysql');
    do mysqldump --single-transaction -h $host -u $username $database_name -p$password > $path/$date/$database_name.sql;
    7z a -t7z $path/$date/$database_name.sql.7z $path/$date/$database_name.sql -p$password
    rm -f $path/$date/$database_name.sql
done;

# zip all of the files from the shared directory. We will however exclude cache images and temp files that would bloat this up.
7z a -t7z $path/$date/shared.7z $shared_files -xr!shared/media/tmp -xr!shared/media/catalog/product/cache -xr!shared/source -p$password

# Get the commit hash of the currently checkout out version of the site. We will store this in a text file which we could use later on if we need to restore or whatever.
commit_hash=$(git --git-dir=$shared_files/source/.git --work-tree=$shared_files/source rev-parse HEAD)

echo $commit_hash > $path/$date/commit_hash.txt

# Delete folders older than {{ backups_amount_of_days_to_keep }} days old in the backup drive
find {{ backups_mount_point }} -mtime +{{ backups_amount_of_days_to_keep }} -type d | xargs rm -f -r

umount {{ backups_mount_point }}
