### Williams Commerce Custom Zabbix Config ###


########################
### General settings ###
########################

### Zabbix pid file ###
PidFile=/var/run/zabbix/zabbix_agentd.pid

### Log file, set to file logging ###
LogType=file

### Log file, not used when LogType set to system ###
LogFile=/var/log/zabbix/zabbix_agentd.log

### Size of log file, if set to 0 it will not rotate ###
LogFileSize=0

### Allow Zabbix to run as root ###
AllowRoot=1


################################
##### Passive Check Settings ###
################################

### Passive server host/IP ###
Server={{ zabbix_server }}

### Port for zabbix to listen on (default is 10050) ###
ListenPort=10050

### How many agents to start ###
StartAgents=1


###############################
##### Active Check Settings ###
###############################

### Active server host/IP ###
ServerActive={{ zabbix_server }}

### Hostname for zabbix ###
Hostname={{ domain }}

### HostMetadata to pass to zabbix ###
HostMetadata=Linux  {{ zabbix_env }}	{{ zabbix_auto_reg_key }}

### How often list of active checks is refreshed, in seconds ###
RefreshActiveChecks=120
